@import "~normalize.css";

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}

.canvas{
  border:2px solid #333;
}

.control {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.btn {
  padding: 5px;
  background-color: darkcyan;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  user-select: none;
  & + .btn {
    margin-left: 10px;
  }
}

.info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  & p + p {
    margin-left: 10px;
  }
}

.mode {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mode__btn {
  border: none;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  &_active {
    color: brown;
    cursor: default;
  }
}

@media (max-width: 400px) {
  .control {
    justify-content: space-around;
    margin-bottom: 20px;
    & .btn {
      margin-bottom: 10px;
      margin-left: 0;
      flex-basis: 45%;
    }
  }
}